body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 24px;

    background-image: linear-gradient(#FAF7F0, #CDFCF6);

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr;

    gap: 30px;

    padding: 30px;
    box-sizing: border-box;
}

.container div {
    padding: 30px;
    background-color:rgb(248, 248, 248);
    border-radius: 30px;
    position: relative;
    box-shadow: 0 17px 50px 0 rgba(0,0,0,0.15);
}

.header {
    grid-column: 1 / 4;
    padding-top: 0px !important;
    font-size: 40px;
    background-color:transparent !important;
    box-shadow: none !important;
}

.button {
    font-size: 20px;
    border-radius: 30px;

    color: white;
    border-style:none;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
    
    position: absolute;
    bottom: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition-duration: 0.4s;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.15);
}

#loan-button {
    background-color:#73A9AD;
}

#bank-button {
    background-color:#554994;
    left: 15px;
}

#work-button {
    background-color:#90C8AC;
    right: 15px;
}

#repay-loan-button {
    background-color:#80558C;
    left: 15px;
    bottom: 70px;
}

#buy-now-button {
    background-color:#316B83;
    right: 15px;
}

.small-text {
    font-size: 16px;
    font-weight: normal;
}

.small-text-right {
    font-size: 22px;
    font-weight: normal;
    vertical-align: top;
    margin-right: 30px;
}

.small-text-bottom-right {
    font-size: 30px;
    font-weight: bold;
    vertical-align: bottom;
}

.full-width-section {
    grid-column: 1 / 4;
}

img {
    border-radius: 30px;
}